nav {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
}

.left,
.right {
    margin: 0 150px 0 150px;
    flex: 3;
}

.center {
    flex: 6;
}

.centerList {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.centerListItem {
    margin-left: 40px;
    text-decoration: none;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
}

.profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.searchIcon {
    margin-left: 25px;
    height: 30px;
}
