.aside {
    margin: 10px 110px;
    width: 100%;
}

.footer {
    position: sticky;
    top: 5vh;
    border: 1px solid;
    width: 100%;
    height: 25vh;
}

.company {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.company-item {
    display: flex;
    align-items: center;
    justify-items: center;
}
